body
{
    background-image: url("../images/custom_background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.dropdown-menu {
    display: inline-block;
    position: relative;
}
.dropdown-menu-content {
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown-menu:hover .dropdown-menu-content {
    display: block;
}
